*{
    margin: 0;
    padding: 0;
}

:root {
    --blue-color: rgb(54, 107, 252);
    --green-color: rgb(0, 185, 0);
    --red-color: rgb(248, 50, 50);
    --brown-dark: #552a18;
    --brown-dark2: #331609;
    --brown-light: #894629;

    --brown-dark-opa: #552a18de;
    --brown-light-opa: #894629de;

    --light-gold-color: #f09235;
    --gold-color: #d16900;
    --yellow-color: rgb(255, 191, 80);
    --light-yellow: rgb(255, 229, 134);
    --ultra-light-yellow: rgb(220, 197, 113);

    --dark-grey: rgb(37, 37, 37);
}

/* Barre de défilement */
/* Chrome, Safari, Edge */
::-webkit-scrollbar {
    width: 12px; /* Largeur de la barre de défilement */
  }
  
  /* Style de la poignée */
  ::-webkit-scrollbar-thumb {
    background-color: var(--yellow-color); /* Couleur de la poignée */
    border-radius: 6px; /* Coins arrondis de la poignée */
  }
  
  /* Hover sur la poignée */
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--light-gold-color); /* Couleur de la poignée au survol */
  }
  
  /* Barre de défilement de fond */
  ::-webkit-scrollbar-track {
    background-color: var(--brown-dark2); /* Couleur de fond de la barre de défilement */
  }
  
  /* Barre de défilement de fond au survol */
  ::-webkit-scrollbar-track:hover {
    background-color: var(--brown-dark2); /* Couleur de fond de la barre de défilement au survol */
  }

p{
    font-family: Bangers;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1.5px;
}

h1{
    color: rgb(255, 191, 80);
    font-family: Bangers;
    font-size: 128px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
    margin: 4rem 0;
    text-shadow: 0px 0px 30px #d16900;
}


.admin_page{
    background-image: url("/assets/images/background/bg077.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.flame{
    position: fixed;
    top: 240px;
    left: 280px;
    z-index: -10;
}

.flame2{
    position: fixed;
    top: 240px;
    right: 290px;
    z-index: -10;
}

/*####################################################################*/
/*######### ACCUEIL ##################################################*/
/*####################################################################*/

h2{
    color: var(--yellow-color);
    font-family: Bangers;
    font-size: 72px;
    font-weight: 300;
    letter-spacing: 2px;
    text-shadow: 0 0 15px var(--gold-color);
    text-align: center;
    margin: 7rem 0 8rem 0;
}

h3{
    color: var(--yellow-color);
    font-family: Bangers;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: 2px;
    text-shadow: 0 0 15px var(--gold-color);
    text-align: center;
    margin: 4rem 0;
}

h4{
    color: var(--yellow-color);
    font-family: Bangers;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 2px;
    text-shadow: 0 0 15px var(--gold-color);
    text-align: center;
    margin: 4rem 0;
}




/*###############################################*/
/*######### ACCUEIL END #########################*/
/*###############################################*/



/*####################################################################*/
/*######### TABLEAU ##################################################*/
/*####################################################################*/

/* Style pour le tableau */
table {
    border-collapse: collapse; /* Assure que les bordures sont fusionnées */
    width: 90%; /* Le tableau occupe toute la largeur */
    font-family: Bangers;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0 auto;
    
}

.table-jointures {
    border-collapse: collapse; /* Assure que les bordures sont fusionnées */
    width: 90%; /* Le tableau occupe toute la largeur */
    font-family: Bangers;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0 auto;
    max-width: 349px;
    transform: translateX(-10px);
    
}

/* Style pour les lignes impaires (une ligne sur deux) */
tr:nth-child(odd) {
    background-color: var(--brown-light-opa); /* Couleur de fond grise pour les lignes impaires */
}

tr:nth-child(even) {
    background-color: var(--brown-dark-opa); /* Couleur de fond grise pour les lignes impaires */
}

/* Vous pouvez ajouter d'autres styles pour le tableau, les cellules, etc. */
td {
    padding: 10px; /* Ajoute de l'espace intérieur dans les cellules */
    border: 2px solid black; /* Ajoute une bordure autour des cellules */
    text-align: left; /* Aligne le texte à gauche */
    color: var(--yellow-color);
}

th {
    padding: 10px; /* Ajoute de l'espace intérieur dans les cellules */
    border: 2px solid black; /* Ajoute une bordure autour des cellules */
    text-align: left; /* Aligne le texte à gauche */
    background-color: var(--brown-dark2);
    color: var(--light-gold-color);
    font-weight: 300;
}

a{
    text-decoration: none;
}

.fa-trash{
    color: var(--red-color);
    cursor: pointer;
    transform: scale(1.2);
}

.fa-pencil-alt{
    color: var(--blue-color);
    transform: scale(1.2);
}

.fa-square-check{
    color: var(--green-color);
    transform: scale(1.2);
}

.fa-square-xmark{
    cursor: pointer;
    color: var(--red-color);
    transform: scale(1.2);
}

.span{
    margin: 0 0.5rem 0 0.3rem;
}

/*###########################*/
/*####### TABLEAU END #######*/
/*###########################*/




/*##############################################################################*/
/*########## BOUTON AJOUTER ####################################################*/
/*##############################################################################*/

.btn_add_param{
    display: flex;
    justify-content: center;
}

.button_add {
    display: inline-block;
    padding: 10px 20px;
    background-color: #552a18; /* Couleur de fond */
    color: rgb(255, 223, 108); /* Couleur du texte */
    text-align: center;
    text-decoration: none; /* Supprimer la décoration de lien */
    border-radius: 1rem; /* Coins arrondis */
    transition: background-color 0.3s; /* Transition douce */
    font-family: Bangers;
    font-weight: 500;
    font-size: 32px;
    letter-spacing: 2px;
    justify-content: center;
    margin: 2rem auto;
    box-shadow: 0px 0px 10px white;
}

.button_add:hover {
    background-color: #894629; /* Changer la couleur de fond lors du survol */
    color: var(--yellow-color);
    box-shadow: 0px 0px 25px white;
}

/*#####################################*/
/*######## BOUTON AJOUTER END #########*/
/*#####################################*/



/*############################################################################*/
/*########### FORMULAIRE #####################################################*/
/*############################################################################*/

.all-form{
    display: flex;
    flex-direction: column;
}

.formulaire{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-height: 780px;
}


legend{
    transform: translateY(-100%);
    text-align: center;
    text-wrap: nowrap;
    font-size: 24px;
    border-radius: 2rem;
    border: 5px solid var(--yellow-color);
    background-color: var(--brown-dark);
    padding: 0.5rem;
    color: var(--yellow-color);
    font-family: Bangers;
    letter-spacing: 1px;
}

/* Style global du formulaire */
.char_sheet {
    max-width: 400px; /* Largeur maximale du formulaire */
    height: 700px;
    margin-top: 40px; /* Centrage et espace autour du formulaire */
    padding: 20px; /* Espace intérieur du formulaire */
    border: 4px solid var(--yellow-color); /* Bordure grise */
    border-radius: 8px; /* Coins arrondis */
    background-color: #c6c6c6; /* Couleur de fond */
    background-image: url('/assets/images/background/bgmenu01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.formulaire-weapon{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-height: 760px;
}

.weapon_sheet{
    max-width: 400px; /* Largeur maximale du formulaire */
    height: 670px;
    margin-top: 40px; /* Centrage et espace autour du formulaire */
    padding: 20px; /* Espace intérieur du formulaire */
    border: 4px solid var(--yellow-color);
    border-radius: 8px; /* Coins arrondis */
    background-color: #c6c6c6; /* Couleur de fond */
    background-image: url('/assets/images/background/bgmenu01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.formulaire-armor{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 760px;
}

.armor_sheet{
    max-width: 400px; /* Largeur maximale du formulaire */
    height: 670px;
    margin-top: 40px; /* Centrage et espace autour du formulaire */
    padding: 20px; /* Espace intérieur du formulaire */
    border: 4px solid var(--yellow-color); /* Bordure grise */
    border-radius: 8px; /* Coins arrondis */
    background-color: #c6c6c6; /* Couleur de fond */
    background-image: url('/assets/images/background/bgmenu01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.formulaire-spell{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 760px;
}

.spell_sheet{
    max-width: 400px; /* Largeur maximale du formulaire */
    height: 670px;
    margin-top: 40px; /* Centrage et espace autour du formulaire */
    padding: 20px; /* Espace intérieur du formulaire */
    border: 4px solid var(--yellow-color); /* Bordure grise */
    border-radius: 8px; /* Coins arrondis */
    background-color: #c6c6c6; /* Couleur de fond */
    background-image: url('/assets/images/background/bgmenu01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.formulaire-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 760px;
}

.item_sheet{
    max-width: 400px; /* Largeur maximale du formulaire */
    height: 470px;
    margin-top: 40px; /* Centrage et espace autour du formulaire */
    padding: 20px; /* Espace intérieur du formulaire */
    border: 4px solid var(--yellow-color); /* Bordure grise */
    border-radius: 8px; /* Coins arrondis */
    background-color: #c6c6c6; /* Couleur de fond */
    background-image: url('/assets/images/background/bgmenu01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.formulaire-enemies{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-height: 760px;
}


.enemy_sheet{
    max-width: 600px; /* Largeur maximale du formulaire */
    height: 670px;
    margin-top: 40px; /* Centrage et espace autour du formulaire */
    padding: 20px; /* Espace intérieur du formulaire */
    border: 4px solid var(--yellow-color); /* Bordure grise */
    border-radius: 8px; /* Coins arrondis */
    background-color: #c6c6c6; /* Couleur de fond */
    background-image: url('/assets/images/background/bgmenu01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.atk-def{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.table_stuff{
    width: 400px; /* Largeur maximale du formulaire */
    height: 700px;
    margin-top: 40px; /* Centrage et espace autour du formulaire */
    padding: 20px; /* Espace intérieur du formulaire */
    border: 4px solid var(--yellow-color); /* Bordure grise */
    border-radius: 8px; /* Coins arrondis */
    background-color: #c6c6c6; /* Couleur de fond */
    background-image: url('/assets/images/background/bgmenu01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.overflow{
    overflow-y: auto;
    max-height: 580px;
    width: 100%;
    max-width: 400px;
    transform: translateX(6px);
}

.check-width{
    width: 80px;
    text-align: center;
}

.title-width{
    width: 80px;
}



/* Style des étiquettes */
label {
    display: block; /* Afficher chaque étiquette sur sa propre ligne */
    margin-bottom: 2px; /* Espace en dessous de chaque étiquette */
    font-weight: bold; /* Texte en gras */
    color: var(--yellow-color);
    font-family: Bangers;
    font-weight: 500;
    letter-spacing: 1px;
}

label[for="name"] {
    margin-bottom: 10px;
}

.name_char{
    text-align: center;
    margin-bottom: 10px;
    margin-top: -30px;
    font-family: Bangers;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 1px;
}
#name {
    text-align: center;
    width: 300px;
    font-family: Bangers;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
}

#level {
    width: 65px;
}

#exp {
    width: 150px;
}

#exp_max {
    width: 150px;
}

/* Style des champs d'entrée */
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"] {
    width: 100%; /* Les champs prennent toute la largeur du formulaire */
    padding: 10px; /* Espace intérieur des champs */
    margin-bottom: 10px; /* Espace en dessous de chaque champ */
    border: 3px solid var(--yellow-color); /* Bordure grise */
    border-radius: 6px; /* Coins arrondis */
    box-sizing: border-box; /* Inclure les bordures et les marges dans la taille des champs */
    transition: border-color 0.3s; /* Transition pour le changement de couleur de la bordure */
    font-family: Bangers;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
    background-color: var(--brown-dark2);
    color: var(--light-yellow);
}

/* Changer la couleur de la bordure lors de la mise au focus */
input:focus {
    /* border-color: #007bff; Couleur de bordure bleue lors de la mise au focus */
    outline: none; /* Retirer l'ombre de mise au focus par défaut */
}

/* Style du bouton de soumission */
input[type="submit"] {
    background-color: #003874; /* Couleur de fond bleue */
    color: #fff; /* Couleur du texte blanche */
    padding: 10px 20px; /* Espace intérieur du bouton */
    border: none; /* Pas de bordure */
    border-radius: 4px; /* Coins arrondis */
    cursor: pointer; /* Changer le curseur en main */
    font-size: 24px;
    font-family: Bangers;
    font-weight: 500;
    letter-spacing: 2px;
    transition: background-color 0.3s; /* Transition pour le changement de couleur de fond */
    margin-top: 50px;
    box-shadow: 0px 0px 15px white;
    margin-bottom: 2rem;
}

/* Changer la couleur de fond lors du survol du bouton de soumission */
input[type="submit"]:hover {
    background-color: #007bfe; /* Couleur de fond bleue plus foncée */
}

.cancelbtn{
    background-color: #890000; /* Couleur de fond bleue */
    color: #fff; /* Couleur du texte blanche */
    padding: 10px 20px; /* Espace intérieur du bouton */
    border: none; /* Pas de bordure */
    border-radius: 4px; /* Coins arrondis */
    cursor: pointer; /* Changer le curseur en main */
    transition: background-color 0.3s; /* Transition pour le changement de couleur de fond */
    font-family: Bangers;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 50px;
    text-decoration: none;
    box-shadow: 0px 0px 15px white;
    margin-bottom: 2rem;
}

.cancelbtn:hover{
    background-color: #ee0000;
}

.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    transform: scale(1.5);
    max-width: 500px;
    margin: 0 auto;
}

.labeltop{
    display: flex;
    flex-direction: column;
}

.lvlexp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.vie{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 0.5rem;
}

.mana{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.stamina{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.up-img{
    margin-top: 1rem;
    &>p{
        color: var(--yellow-color);
    }
}

/* Cache l'input file */
input[type="file"] {
    display: none;
}

/* Stylez le label comme un bouton */
.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--yellow-color); /* Couleur de fond */
    color: var(--brown-dark2); /* Couleur de texte */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Arrondir les bords */
    cursor: pointer; /* Changer le curseur en pointer */
    text-align: center; /* Centrer le texte */
    text-decoration: none; /* Pas de soulignement */
}

.custom-file-upload:hover{
    background-color: var(--brown-dark2); 
    color: var(--yellow-color);
}
/*##############################*/
/*####### FORMULAIRE END #######*/
/*##############################*/



/*##############################################################################*/
/*############ MENU ADMIN ######################################################*/
/*##############################################################################*/

.menu_admin{
    font-family: Bangers;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 1rem;
    background-image: url("/assets/images/background/bgmenu04.jpg");
    background-repeat: repeat;
}

.choice{
    padding: 14px 16px; /* Espacement interne des liens */
    color: rgb(255, 229, 134); /* Couleur du texte */
    text-decoration: none; /* Supprime la soulignure des liens */
    font-size: 48px; /* Taille de la police */
}

/* Style global du menu */
.menu_admin ul {
    list-style-type: none; /* Supprime les puces des éléments de liste */
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

/* Style des éléments de la liste */
.menu_admin ul li {
    display: inline-block; /* Affiche les éléments de la liste en ligne */
}

/* Style des liens */
.menu_admin ul li a {
    display: block;
    padding: 14px 16px; /* Espacement interne des liens */
    color: rgb(255, 229, 134); /* Couleur du texte */
    text-decoration: none; /* Supprime la soulignure des liens */
    font-size: 32px; /* Taille de la police */
    transition: background-color 0.3s; /* Transition pour le survol */
    border-radius: 2rem;
    border: 2px solid var(--light-gold-color);
    background-color: #552a18;
    margin: 0 1rem;
}

/* Changement de couleur de fond au survol */
.menu_admin ul li a:hover {
    background-color: var(--brown-light);
    color: var(--yellow-color);
    border-radius: 2rem;
}

/*#####################################*/
/*########## MENU ADMIN END ###########*/
/*#####################################*/



/*##############################################################################*/
/*############ MENU USER #######################################################*/
/*##############################################################################*/

.menu_user{
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 24px;
    font-family: Bangers;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 1rem;
    width: 280px;
    background-image: url("/assets/images/background/bgmenu01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
}

/* Style global du menu */
.menu_user ul {
    list-style-type: none; /* Supprime les puces des éléments de liste */
    padding: 0;
    margin: 0;
}

/* Style des éléments de la liste */
.menu_user ul li {
    display: block; /* Affiche les éléments de la liste en ligne */
}

/* Style des liens */
.menu_user ul li a {
    display: block;
    padding: 7px 8px; /* Espacement interne des liens */
    color: rgb(255, 229, 134); /* Couleur du texte */
    text-decoration: none; /* Supprime la soulignure des liens */
    font-size: 24px; /* Taille de la police */
    transition: background-color 0.3s; /* Transition pour le survol */
    text-align: center;
    border-radius: 1rem;
}


/* Changement de couleur de fond au survol */
.menu_user ul li a:hover {
    background-color: var(--brown-light);
    color: var(--yellow-color);
}

/*#####################################*/
/*########## MENU USER  END ###########*/
/*#####################################*/



/*##############################################################################*/
/*############ MENU CODEX ######################################################*/
/*##############################################################################*/

.menu_codex{
    font-family: Bangers;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 1rem;
    background-image: url("/assets/images/background/bgmenu04.jpg");
    background-repeat: repeat;
}

.choice_user{
    padding: 14px 16px; /* Espacement interne des liens */
    color: rgb(255, 229, 134); /* Couleur du texte */
    text-decoration: none; /* Supprime la soulignure des liens */
    font-size: 48px; /* Taille de la police */
}

/* Style global du menu */
.menu_codex ul {
    list-style-type: none; /* Supprime les puces des éléments de liste */
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

/* Style des éléments de la liste */
.menu_codex ul li {
    display: inline-block; /* Affiche les éléments de la liste en ligne */
}

/* Style des liens */
.menu_codex ul li a {
    display: block;
    padding: 14px 16px; /* Espacement interne des liens */
    color: rgb(255, 229, 134); /* Couleur du texte */
    text-decoration: none; /* Supprime la soulignure des liens */
    font-size: 32px; /* Taille de la police */
    transition: background-color 0.3s; /* Transition pour le survol */
    border-radius: 2rem;
    background-color: #552a18;
    margin: 0 1rem;
    border: 2px solid var(--light-gold-color);
}

/* Changement de couleur de fond au survol */
.menu_codex ul li a:hover {
    background-color: var(--brown-light);
    color: var(--yellow-color);
    border-radius: 2rem;
}

/*#####################################*/
/*########## MENU CODEX END ###########*/
/*#####################################*/



/*##################################################################################*/
/*############ FICHE DU CODEX ######################################################*/
/*##################################################################################*/

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.char_sheet_user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Bangers;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 1.5px;
    color: black;
    margin: 2rem;
    width: 275px;
    height: 420px;
    border-radius: 1rem;
    background-image: url("/assets/images/background/wood-pattern.png");
    background-color: var(--brown-dark2);
    border: 3px solid var(--ultra-light-yellow);
}

h5{
    font-family: Bangers;
    font-weight: 500;
    font-size: 72px;
    letter-spacing: 2px;
    color: var(--yellow-color);
    text-align: center;
    text-shadow: 0 0 20px var(--gold-color);
    margin: 3rem 0;
}

h6{
    font-size: 32px;
    letter-spacing: 3px;
}

.title-card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 100px;
    background-image: url("/assets/images/title_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img_card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 150px;
    overflow: hidden;
    background-color: var(--light-gold-color);
    background-image: url('/assets/images/avatar3.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 1rem;
    margin: 0.5rem auto;
    border: 3px solid var(--yellow-color);
    &>img{
        width: 230px;
        height: auto;
        object-fit: cover;
        border-radius: 3px;
    }
}

.stat-lign{
    display: flex;
    flex-direction: row;
}

.stat_char_user{
    background-image: url("/assets/images/stat_bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.5rem 4rem 0 2rem;
}

p{
    margin: 0 0.5rem 0.5rem 0;

}

.health{
    color: red;
}

.stamina{
    color: green;
}

.mana{
    color: blue;
}

/*#########################################*/
/*########## FICHE DU CODEX END ###########*/
/*#########################################*/



/*#####################################################################*/
/*########## MODAL ####################################################*/
/*#####################################################################*/


/* Style de la modal */
#crop-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Augmente le z-index pour garantir que la modal est au-dessus de tous les autres éléments */
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style de l'image à recadrer */
#image-to-crop {
    max-width: 100%; /* L'image s'ajuste à la taille de l'écran */
    max-height: 100%; /* L'image s'ajuste à la taille de l'écran */
    object-fit: contain; /* Maintient les proportions de l'image */
}

/* Style du bouton de recadrage */
#crop-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#crop-btn:hover {
    background-color: #0056b3;
}

/* Style de fermeture de modal */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/*###################################*/
/*########## MODAL ##################*/
/*###################################*/


.custom-checkbox {
    /* Cacher la checkbox native */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* Définir une taille pour le nouvel élément */
    width: 30px;
    height: 30px;
    /* Styler la nouvelle case */
    border: 2px solid var(--yellow-color); /* Bordure de la case */
    border-radius: 4px; /* Coins arrondis */
    position: relative;
}

.custom-checkbox:hover{
    cursor: pointer;
}
  
/* Style pour la case cochée */
.custom-checkbox:checked::before {
    content: ''; /* Ajouter un contenu pour que le pseudo-élément soit visible */
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: var(--light-gold-color); /* Couleur de la case cochée */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px; /* Coins arrondis */
}

.custom-checkbox:focus {
    outline: none; /* Supprimer l'outline lors du focus */
  }
